<form class="form" (ngSubmit)="signup()">
  <p class="title">Sign up</p>
  <p class="message">Signup now and get full access to our webapp.</p>

  <div class="flex">
    <label>
      <input class="input" type="text" name="name" [(ngModel)]="user.Name" required>
      <span>Name</span>
    </label>
  </div>

  <label>
    <input class="input" type="email" name="email" [(ngModel)]="user.Email" required>
    <span>Email</span>
  </label>

  <label>
    <input class="input" type="password" name="password" [(ngModel)]="user.Password" required>
    <span>Password</span>
  </label>

  <button class="submit" type="submit">Sign up</button>

  <p class="signin">
    Already have an account? <a href="/login">Login</a>
  </p>
</form>