
<div class="income-page">
  <div class="income-header">
    <h2>User Details</h2>
    <!-- <button class="add-btn">+  Add Savings</button> -->
    
  </div>

  <div class="filters">

   
<div class="search-container">
  <i class="fas fa-search search-icon"></i>
  <input
    placeholder="Search..."
    class="search-input"
    name="text"
    type="text"
  />
</div>
    
  </div>

  <table class="income-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>EMAIL</th>
        <th>ROLE</th>
        <th>DELETED ON</th>
       
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>bank</td>
        <td>fixed</td>
        <td>₹10,000</td>
        <td>2025-06-01</td>
        <td>2025-06-01</td>
        <td>
          
        </td>
      </tr>
      <!-- Repeat rows as needed -->
    </tbody>
  </table>
 

</div>

