<div class="form-container">
  <form (ngSubmit)="submitSavings()" #savingForm="ngForm">


    <label for="platform">Platform</label>
    <input type="text" id="Platform" name="Platform" [(ngModel)]="saving.Platform" required />

    <label for="type">Type</label>
    <input type="text" id="Type" name="Type" [(ngModel)]="saving.Type" required />

    <label for="amount">Amount</label>
    <input type="text" id="Amount" name="Amount" [(ngModel)]="saving.Amount" required min="0.01" step="0.01" />

    <button type="submit" [disabled]="!savingForm.form.valid">Add Savings</button>
  </form>
</div>
