<!-- <div class="profile-container">
    <div class="profile-header">
      <div class="line-through"></div>
      <div class="profile-image">
        <img src="https://www.gravatar.com/avatar/?d=mp" alt="Profile Picture" />
    </div>
    </div>

    <div class="profile-fields">
      <div class="field">
        <label for="name">Name</label>
        <input type="text" id="name" value="John Doe" readonly />
      </div>

      <div class="field">
        <label for="email">Email</label>
        <input type="text" id="email" value="john@example.com" readonly  />
      </div>
    </div>

    <button class="edit-button">Edit</button>
  </div> -->
  <div class="profile-container" *ngIf="auth.userName() && auth.userEmail()">
  <div class="profile-header">
    <div class="line-through"></div>
    <div class="profile-image">
      <img src="https://www.gravatar.com/avatar/?d=mp" alt="Profile Picture" />
    </div>
  </div>

  <div class="profile-fields">
    <div class="field">
      <label for="name">Name</label>
      <input type="text" id="name" [value]="auth.userName()" readonly />
    </div>

    <div class="field">
      <label for="email">Email</label>
      <input type="text" id="email" [value]="auth.userEmail()" readonly />
    </div>
  </div>

  <button class="edit-button">Edit</button>
</div>
