
<form class="form">
    <p class="title">Login </p>
    <p class="message">Enter your credentials to login. </p>
        <div class="flex">
        <label>
            <input class="input" type="text" placeholder="" required="">
            <span>Name</span>
        </label>

    </div>  
  
    <label>
        <input class="input" type="password" placeholder="" required="">
        <span>Password</span>
    </label>
   
    <button class="submit">Login</button>
    <p class="signin">Don't have an acount ? <a href="#">Signup</a> </p>
</form>