<div class="form-container">
  <form (ngSubmit)="submitExpense()" #expenseForm="ngForm">
    <label for="category">Category</label>


    <select [(ngModel)]="expense.categoryId" name="categoryId" required>
      <option [ngValue]="null" disabled >Select a category</option>
      <option *ngFor="let cat of categories" [ngValue]="cat.id">
        {{ cat.name }} - {{ cat.type }}
      </option>
    </select>

    <label for="amount">Amount</label>
    <input type="text" id="amount" name="amount" [(ngModel)]="expense.Amount" required />

    <label for="note">Note</label>
    <input type="text" id="note" name="note" [(ngModel)]="expense.Note" />

    <button type="submit">Add Expense</button>
  </form>
</div>

