
  <div class="card-container" *ngIf="snapshot">
  <div class="card expense">
    <h4>Total Expense</h4>
    <p> ₹ {{ snapshot.totalExpenses }}</p>
  </div>
  <div class="card savings">
    <h4>Total Savings</h4>
    <p>₹ {{ snapshot.totalSavings }}</p>
  </div>
  <div class="card income">
    <h4>Total Income</h4>
    <p>₹ {{ snapshot.totalIncome }}</p>
  </div>
  <div class="card balance">
    <h4>Total Balance</h4>
    <p>₹ {{ snapshot.netSavings }}</p>
  </div>
</div>

<div class="charts">
  <div class="chart-box savings-chart">
    <h3>Savings by Platform</h3>
    <canvas #platformChart></canvas>
  </div>

  <div class="chart-box type-chart">
    <h3>Savings by Type</h3>
    <canvas #typeChart></canvas>
  </div>

  <div class="chart-box expense-chart">
    <h3>Expense by Category</h3>
    <canvas #expenseChart></canvas>
  </div>

  <div class="chart-box income-chart">
    <h3>Income by Source</h3>
    <canvas #incomeChart></canvas>
  </div>
</div>
